<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimum-scale=1,shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#eff7fb">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico?v=1"/>
    <title></title>
    <meta name="description" content="">
    <script type='application/ld+json'> {
        "@context": "http://www.schema.org",
        "@type": "Corporation",
        "name": "",
        "url": "",
        "sameAs": [],
        "logo": "",
        "image": "",
        "description": "",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "address",
            "postOfficeBoxNumber": "Sector",
            "addressLocality": "City",
            "addressRegion": "State",
            "postalCode": "",
            "addressCountry": "India"
        },
        "contactPoint": {
            "@type": "ContactPoint",
                "telephone": "phone_number",
                "contactType": "General"
            }
        } </script>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app">
</div>
</body>
</html>
